.icon-button-filter {
border-style: none;
background-color: inherit;
max-height: 12px;
padding-left: 8px;
}

.btn-tab {
  font-size: 14px;
}

[hidden] {
  display: none !important;
}

.btn-company-modal {
  font-size: 14px;
  background-color: white;
  color: #469ae1;
}

.btn-company-modal-pushed {
  font-size: 14px;
}
