.wrapper-project-versions {
  display: flex;
}

.container-nav-buttons {
  display:flex;
  width: 100%;
  margin-top: 20px;
  margin-left: 30px;
    button {
    font-size: 12px;
  }
}

.final-sample-pli-results-container {
  display:flex;
  margin-right:50px;
  margin-left: auto;
}

.final-sample-pli-results-item {
  width: 100px;
  font-size: 12px;
  padding: 10px 10px;
  background-color: white;
  text-align: center;
  margin: 0 10px;
  vertical-align: middle;
  h4 {
    font-size: 12px;
    color: $blue;

  }
}



.btn-toolbar {
  button {
    font-size: 12px;
  }
}

.container-actions-project-versions {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  width: 30%;
  margin: 30px;
  padding: 15px;
}

.container-actions-project-versions-title {
  text-align: center;
  h3 {
    font-size: 18px;
    color: $blue;
    }
}

.container-actions-project-versions-results {
  text-align: center;
  p {
    font-size: 14px;
  }
}

.container-actions-project-versions-action {
  padding-top: 30px;
  text-align: center;
}


.container-content-project-versions {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height:100vh;
  width: 100%;
  margin: 30px;
  padding: 15px;
  p {
    font-size: 14px;
  }
  h3 {
    font-size: 18px;
  }
}


.project-version-content-detail-title {
  margin-top: 10px;
  margin-bottom: 20px;
  h3 {color: $wagon-gray;
  font-size: 24px;}
}

.project-version-content-detail-title {
  display: flex;
  border-bottom-style: solid;
  border-color: $light-gray;
  h4 {
    font-size: 18px;
    color: $blue;
  }
}

.project-version-content-detail-current {
  display: flex;
  border-bottom-style: solid;
  border-color: $light-gray;
  margin-bottom: 40px;
  h4 {
    font-size: 18px;
    color: $blue;
  }
}

.project-version-content-detail-description {
  width: 40%;
  padding-right: 10px;
}

.project-version-content-detail-period {
  width: 30%;
  padding-right: 10px;
}

.project-version-content-detail-created {
  width: 30%;
  padding-right: 10px;
}

.project-version-content-actions {
  padding-top: 30px;
}
